HOST_NAME=<your_hostname>
ENV=dev

# node-exporter
NODE_EXPORTER_PORT=9100

# Cadvisor
CADVISOR_PORT=8080

# nginx-exporter
NGINX_EXPORTER_PORT=9113
NGINX_SCRAPE_URI=http://host.docker.internal/nginx_status
DOCKER_HOST_NAME=host.docker.internal
DOCKER_HOST_INTERNAL_IP=172.17.0.1

# Promtail
LOKI_EXTERNAL_URL=http://loki:3100/loki/api/v1/push
LOKI_USERNAME=
LOKI_PASSWORD=
